<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{fragments/header}"></div>
</head>
<body>
	<div class="app">
		<div th:replace="~{fragments/app_header}"></div>
		<div th:replace="~{fragments/sidebar}"></div>

		<main class="app-main">
			<div class="wrapper">
				<div class="page">
					<div class="page-inner">
						<header class="page-title-bar"></header>

						<div class="page-section">
							<form th:action="@{/admin/users/update}" th:object="${FORM}"
								method="post" id="user_form">
								<div class="card shadow col-md-8"
									style="margin: 20px 20px 20px 20px">
									<div class="card-header py-3">
										<span class="h6 m-0 font-weight-bold text-primary">USER MANAGEMENT</span>
									</div>

									<div class="card-body">
										<a type="button" class="btn btn-secondary btn-sm"
											th:href="@{/admin/users}"
											style="margin-bottom: 10px; width: 100px">Cancel</a>
										<button type="submit" class="btn btn-primary btn-sm"
											style="margin-bottom: 10px; width: 100px">Save</button>

										<div th:if="${MESSAGE}" class="alert alert-primary has-icon"
											role="alert">
											<div class="alert-icon">
												<span class="oi oi-info"></span>
											</div>
											<span th:text="${MESSAGE}"></span>
										</div>

										<div th:if="${ERRORS}" class="alert alert-danger"
											role="alert">
											<ul class="mb-0">
												<li th:each="error: ${ERRORS}" th:text="${error}"></li>
											</ul>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="username">Username</label>
												<input th:if="*{id} == 0" type="text"
													class="form-control form-control-sm" id="username"
													th:field="*{username}" required>
												<input th:if="*{id} != 0" type="text"
													class="form-control form-control-sm" id="username_display"
													th:value="*{username}" readonly>
												<input type="hidden" th:if="*{id} != 0"
													th:field="*{username}">
											</div>

											<div class="form-group col-md-6 mb-3">
												<label class="control-label" for="enabled">Status</label>
												<select name="enabled" th:field="*{enabled}" id="enabled"
													class="form-control form-control-sm" required>
													<option value="0">Disabled</option>
													<option value="1">Enabled</option>
												</select>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="first_name">First Name</label>
												<input type="text" class="form-control form-control-sm"
													id="first_name" th:field="*{first_name}">
											</div>

											<div class="form-group col-md-6">
												<label for="last_name">Last Name</label>
												<input type="text" class="form-control form-control-sm"
													id="last_name" th:field="*{last_name}">
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="sms_email">SMS Email</label>
												<input type="text" class="form-control form-control-sm"
													id="sms_email" th:field="*{sms_email}">
											</div>
											<div class="form-group col-md-6">
												<label for="sensor_notifications">Sensor Notifications</label>
												<select class="form-control form-control-sm"
													id="sensor_notifications" th:field="*{sensor_notifications}">
													<option value="">No</option>
													<option value="Y">Yes</option>
												</select>
											</div>
										</div>

										<span class="h6 m-0 font-weight-bold text-primary">PASSWORD</span>

										<div class="form-row" style="margin-top: 10px;">
											<div class="form-group col-md-6">
												<label for="password"
													th:text="*{id} == 0 ? 'Password' : 'New Password'"></label>
												<input type="password" class="form-control form-control-sm"
													id="password" th:field="*{password}"
													th:required="*{id} == 0">
											</div>

											<div class="form-group col-md-6">
												<label for="confirmPassword">Confirm Password</label>
												<input type="password" class="form-control form-control-sm"
													id="confirmPassword" th:field="*{confirmPassword}"
													th:required="*{id} == 0">
											</div>
										</div>

										<span class="h6 m-0 font-weight-bold text-primary">ROLES</span>

										<div class="form-row" style="margin-top: 10px;">
											<div class="form-group col-md-12">
												<div class="custom-control custom-checkbox"
													th:each="role: ${ROLES}">
													<input type="checkbox" class="custom-control-input"
														th:id="${'role_' + role.id}"
														th:field="*{selectedRoleIds}" th:value="${role.id}">
													<label class="custom-control-label"
														th:for="${'role_' + role.id}" th:text="${role.role}"></label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<input type="hidden" th:field="*{id}">
							</form>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{fragments/footer}"></div>
		</main>
	</div>

	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
</body>
</html>
