<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="fragments/header"></div>

<style>

.table tbody tr.highlight td {
  background-color: #ddd;
}

</style>

</head>
<body>
	<!-- .app -->
	<div class="app">
		<!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->


		<div th:replace="fragments/app_header"></div>

		<div th:replace="fragments/sidebar"></div>

		<!-- .app-main -->
		<main class="app-main">
			<!-- .wrapper -->
			<div class="wrapper">
				<!-- .page -->
				<div class="page">
					<!-- .page-inner -->
					<div class="page-inner">
						<!-- .page-title-bar -->


						<!--  Start  -->

						<form action="/wo/update" th:object="${FORM}" method="post"
							id="woform">

							<div class="card card-fluid" style="margin-top: 25px;">
								<div class="card-header">
									<span class="h5 m-0 font-weight-bold text-primary">WORKORDER&nbsp;#<span
										th:text="${WOID}"></span></span>
								</div>
								<!-- /.card-header -->

								<div class="card-body">
									<!-- .table -->

									<div class="form-row">

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="prod_date">Requested
												Production Date</label> <input id="prod_date" type="text"
												class="form-control form-control-sm" data-toggle="flatpickr"
												name="prod_date" th:field="*{prod_date}">
										</div>
										<!-- /form column -->


										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="status_id">Status</label> <select
												name="status_id" th:field="*{status_id}" id="status_id"
												class="form-control form-control-sm" required>
												<option value="-1"></option>
												<option th:each="s:${STATUS}" th:value="${s.id}"
													th:utext="${s.value}" />
											</select>
										</div>

									</div>


									<div class="form-row">

										<!-- /form column -->

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="caliber_id">Caliber</label>
											<select name="caliber_id" th:field="*{caliber_id}"
												id="caliber_id" class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="c:${CALIBERS}" th:value="${c.id}"
													th:utext="${c.value}" />
											</select>
										</div>

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="rifling_id">Rifling</label>
											<select name="rifling_id" th:field="*{rifling_id}"
												id="rifling_id" class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="r:${RIFLING}" th:value="${r.Sid}"
													th:utext="${r.value}" />
											</select>
										</div>

										<!-- /form column -->
									</div>
									<!-- /form row -->

									<div class="form-row">

										<!-- /form column -->

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="steeltype_id">Steel
												Type</label> <select name="steeltype_id" th:field="*{steeltype_id}"
												id="steeltype_id" class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="s:${STEELTYPE}" th:value="${s.sid}"
													th:utext="${s.value}" />
											</select>
										</div>

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="twist_id">Twist</label> <select
												name="twist_id" th:field="*{twist_id}" id="twist_id"
												class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="t:${TWIST}" th:value="${t.id}"
													th:utext="${t.value}" />
											</select>
										</div>

										<!-- /form column -->
									</div>
									<!-- /form row -->


									<div class="form-row">

										<!-- /form column -->

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="groove_id">Groove</label> <select
												name="groove_id" th:field="*{groove_id}" id="groove_id"
												class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="g:${GROOVE}" th:value="${g.id}"
													th:utext="${g.value}" />
											</select>
										</div>

										<div class="col-md-6 mb-3">
											<!-- form column -->
											<label class="control-label" for="twist_id">Steel</label> <select
												name="steel_id" th:field="*{steel_id}" id="steel_id"
												class="form-control form-control-sm">
												<option value=-1></option>
												<option th:each="s:${STEEL}" th:value="${s.id}"
													th:utext="${s.value}" />
											</select>
										</div>

										<!-- /form column -->
									</div>
									<!-- /form row -->


									<!--  End -->


									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<span class="h6 m-0 font-weight-bold text-primary">UNITS&nbsp;&nbsp;&nbsp;&nbsp;
												<a href="javascript:newObj()" role="button"
												class="btn btn-primary btn-sm">New</a>
											</span>
										</div>
										<div class="card-body">
											<table class="table table-hover table-sm" id="woqty_table"
												style="width: 60%">
												<thead>
													<tr>
														<th></th>
														<th>Quantity</th>
														<th>Length</th>
													</tr>
												</thead>
												<tbody id="woqty_tbody">
													<tr th:each="wq, itemStat : *{woqty}">
														<td><input type="hidden"
															th:field="*{woqty[__${itemStat.index}__].id}" /> <input
															type="hidden"
															th:field="*{woqty[__${itemStat.index}__].action}"
															value="" /> <a onclick="itemDelete(this)"
															class="btn btn-sm btn-icon btn-secondary"><i
																class="fa fa-trash-alt"></i></a></td>
														<td><input
															class="form-control form-control-sm col-md-6 mb-3"
															th:field="*{woqty[__${itemStat.index}__].qty}"
															onchange="itemRowUpdated(this)" /></td>
														<td><select
															class="form-control form-control-sm col-md-6 mb-3"
															th:field="*{woqty[__${itemStat.index}__].length}"
															onchange="itemRowUpdated(this)">
																<option value="28">28</option>
																<option value="30">30</option>
																<option value="32">32</option>
														</select></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>


									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<span class="h6 m-0 font-weight-bold text-primary">TOOLS&nbsp;&nbsp;&nbsp;&nbsp;</span>
										</div>

										<div class="col-md-4 mb-2 " style="margin-top: 10px">
											<!-- form column -->
											<label class="control-label" for="dhtool">Deep Hole
												Drill</label>
											<div class="input-group">
												<input th:field="*{dhtool}" id="dhtool"
													class="form-control form-control-sm" />
												<div class="input-group-append">
													<button id='dhtool_btn' class="btn btn-primary .btn-sm"
														type="button" data-toggle="modal"
														data-target="#toolAnalysisModal"><span class="fa-solid fa-magnifying-glass"></span></button>
												</div>
											</div>
										</div>

										<div class="col-md-4 mb-2 ">
											<!-- form column -->
											<label class="control-label" for="brtool">Bore Reamer</label>
											<div class="input-group">
												<input th:field="*{brtool}" id="brtool"
													class="form-control form-control-sm" />
												<div class="input-group-append">
													<button id='brtool_btn' class="btn btn-primary .btn-sm"
														type="button" data-toggle="modal"
														data-target="#toolAnalysisModal"><span class="fa-solid fa-magnifying-glass"></span></button>
												</div>
											</div>
										</div>

										<div class="col-md-4 mb-2">
											<!-- form column -->
											<label class="control-label" for="bntool">Button</label>
											<div class="input-group">
												<input th:field="*{bntool}" id="bntool"
													class="form-control form-control-sm"/>
												<div class="input-group-append">
													<button id='bntool_btn' class="btn btn-primary .btn-sm"
														type="button" data-toggle="modal"
														data-target="#toolAnalysisModal"><span class="fa-solid fa-magnifying-glass"></span></button>
												</div>
											</div>
										</div>


										<div class="card-header py-3">
											<span class="h6 m-0 font-weight-bold text-primary">TOOL
												HISTORY&nbsp;&nbsp;&nbsp;&nbsp;</span>
										</div>

										<table class="table table-hover table-sm"
											style="width: 100%; margin-bottom: 20px">
											<thead>
												<tr>

													<th>Tool Identifier</th>
													<th>Tool Type</th>
													<th>Updated</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="h: *{wotoolhistory}">
													<td th:text="${h.tool_identifier}"></td>
													<td th:text="${h.tool_type}"></td>
													<td th:text="${h.updated}"></td>
												</tr>
											</tbody>
										</table>


									</div>


									<div class="card shadowmb-4">
										<div class="card-header py-3">
											<span class="h6 m-0 font-weight-bold text-primary">NOTES</span>
										</div>
										<div class="card-body">

											<textarea name="note" rows="4" id="note" class="form-control"></textarea>


										</div>

									</div>


									<table class="table table-hover table-sm" style="width: 100%">
										<thead>
											<tr>
												<th>CREATED</th>
												<th>NOTE</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="n: *{wonote}">
												<td th:text="${n.fcreated}"></td>
												<td th:utext="${n.note}" style="white-space: pre;"></td>
											</tr>
										</tbody>
									</table>


									<input type="hidden" name="id" th:field="*{id}" /> <input
										type="hidden" name="current_dhtool" th:value="*{dhtool}" /> <input
										type="hidden" name="current_brtool" th:value="*{brtool}" /> <input
										type="hidden" name="current_bntool" th:value="*{bntool}" />

									<button type="submit" class="btn btn-primary" id="btnSubmit">Update</button>


								</div>
							</div>
						</form>



						<!--  ************************ Body Content End / Start Modals *************************************************** -->



						<!-- Modal -->
						<div class="modal fade" id="toolAnalysisModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-lg .modal-dialog-scrollable"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Tool Analysis</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body ">
										<table id="tool_analysis" class="table .table-sm table-hover">
											<thead class="thead-light">
												<th>Tool</th>
												<th>Diameter</th>
												<th>Location</th>
												<th>Assigned</th>
												<th># Barrels</th>
												<th># Scrap</th>
												<th>Scrap %</th>
											</thead>
											<tbody>

											</tbody>
										</table>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>





						<!-- DEL Confirmation Modal -->
						<div class="modal fade" id="confirmModal" tabindex="-1"
							role="dialog" aria-labelledby="confirmModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Do you want to delete this
										unit?</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">NO</button>
										<a href="javascript:deleteID()" role="button"
											class="btn btn-danger">YES</a>
									</div>
								</div>
							</div>
						</div>


						<!-- ****************  End Modals ******************* -->


					</div>
					<!-- /.page-inner -->
				</div>
				<!-- /.page -->
			</div>

			<div th:replace="fragments/footer"></div>


			<!-- /.wrapper -->
		</main>
		<!-- /.app-main -->
	</div>
	<!-- /.app -->


	<!-- BEGIN BASE JS -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>

	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- END BASE JS -->
	<!-- BEGIN PLUGINS JS -->
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script
		th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>
	<script
		th:src="@{/assets/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<!-- END PLUGINS JS -->

	<!-- BEGIN THEME JS -->
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
	<!-- END THEME JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>



	<script>
		$(document).ready(
				function() {
						
					$('#tool_analysis').on('click', 'tbody tr', function(event) {
						  
						$(this).addClass('highlight').siblings().removeClass('highlight');
						
						let selectedTool = event.currentTarget.childNodes[0].innerText;
						
						if ( selectedTool != null ) {
							if ( selectedTool.startsWith("BN") ) {
								$('#bntool').val( selectedTool );
							} else if ( selectedTool.startsWith("DH") ) {
								$('#dhtool').val( selectedTool );
							} else if ( selectedTool.startsWith("BR") )	{
								$('#brtool').val( selectedTool );
							}	
							$('#toolAnalysisModal').modal('hide');
						}

					});
					
					
					

					$.validator.addMethod('checkAlpha', function(value,
							element, param) {
						return value != "-1";
					}, 'This is a required field');

					$("#woform").validate({
						submitHandler : function(form) {
							form.submit();
						},
						rules : {
							prod_date : {
								required : true
							},
							status_id : {
								required : true,
								min : "0"
							},
							caliber_id : {
								required : true,
								min : "0"
							},
							rifling_id : {
								checkAlpha : true
							},
							steel_id : {
								required : true,
								min : "0"
							},
							twist_id : {
								required : true,
								min : "0"
							},
							groove_id : {
								required : true,
								min : "0"
							},
							steeltype_id : {
								checkAlpha : true
							}
						},
						messages : {
							status_id : "This is a required field.",
							prod_date : "Please select a production date.",
							caliber_id : "This is a required field.",
							rifling_id : "This is a required field.",
							steel_id : "This is a required field.",
							twist_id : "This is a required field.",
							groove_id : "This is a required field.",
							steeltype_id : "This is a required field."
						}

					});

					$("#woform").submit(function() {

					})

					$('#toolAnalysisModal').on('show.bs.modal', function(e) {

						var caliber_id = $("#caliber_id option:selected").val();

						getToolAnalysis(caliber_id, e.relatedTarget.id);

					});

				});

		var length_options;

		function newObj() {

			var rowCount = $('#woqty_tbody tr').length;

			$('#woqty_table > tbody:last-child')
					.append(
							'<tr>'
									+ '<td><input type="hidden" name="woqty' + rowCount + '.id" value=""/>'
									+ '<input type="hidden" name="woqty['
									+ rowCount
									+ '].woid" value="'
									+ $(this).attr("id").value
									+ '"/>'
									+ '<input type="hidden" id="woqty' + rowCount + '.action"  name="woqty[' + rowCount + '].action"      value="A"/>'
									+ '<a onclick="itemDelete(this)"><i class="far fa-trash-alt"></i></a></td>'
									+ '<td><input  id="woqty'
									+ rowCount
									+ '.qty"     class="form-control form-control-sm col-md-6 mb-3"   name="woqty['
									+ rowCount
									+ '].qty"   onchange="itemRowUpdated(this)"   value=""/></td>'
									+ '<td><select id="woqty'
									+ rowCount
									+ '.length"  class="form-control form-control-sm col-md-6 mb-3"   name="woqty['
									+ rowCount
									+ '].length" onchange="itemRowUpdated(this)" >'
									+ '<option value="28">28</option>'
									+ '<option value="30">30</option>'
									+ '<option value="32">32</option>'
									+ '</select>' + '</tr>');

		}

		function itemRowUpdated(element) {

			var row = element.parentNode.parentNode.rowIndex - 1
			var id = 'woqty' + row + '.action';

			if ($(this).attr(id).value != 'A') {
				$(this).attr(id).value = 'C';
			}

		}

		function itemDelete(element) {

			var row = element.parentNode.parentNode.rowIndex - 1;
			var id = 'woqty' + row + '.action';

			if ($(this).attr(id).value == 'A') {
				$(element).closest("tr").remove();

			} else {
				$(this).attr(id).value = 'D'
				$(element).closest("tr").hide();
			}

		}

		function lkBarrelLength() {

			$.getJSON('/wo/getQualityCounts/json/' + wo_qty_id, function(data) {

				$('#rejected_' + wo_qty_id).text(data.rejected);
				$('#passed_' + wo_qty_id).text(data.passed);

			});

		}


		function getToolAnalysis(caliber_id, tool) {
			
			
			var url = "";
			
			
			if ( tool === "brtool_btn") 
				url = '/wo/getBRToolAnalysis/json/';
			else if ( tool == "bntool_btn")
				url = '/wo/getBNToolAnalysis/json/';
			else if ( tool == "dhtool_btn")
				url = '/wo/getDHToolAnalysis/json/';
				

			$.getJSON( url + caliber_id, function(data) {

				$('#tool_analysis tbody').empty();

				$.each(data, function(index) {

					var cell;
					//	if ( data[index].id == -1 ) {
					//		cell = '';
					//	} else {
					//		cell = '<a href="javascript:deleteByID(' + data[index].id + ', ' + data[index].wo_qty_id + ')" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i></a>';
					//	}

					$('#tool_analysis').append(
							'<tr>' + '<td>' + data[index].tool_identifier + '</td>' 
									+ '<td>' + data[index].diameter + '</td>' 
									+ '<td>' + data[index].storage_location + '</td>'
									+ '<td class="text-center">'
									+ data[index].assigned + '</td>'
									+ '<td class="text-right">'
									+ data[index].num_barrels + '</td>'
									+ '<td class="text-right">'
									+ data[index].num_scrap + '</td>'
									+ '<td class="text-right">'
									+ data[index].scrap_percentage + '</td>'
									+ '</tr>')

				});
			});
		}
	</script>




</body>
</html>