<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="fragments/header"></div>



</head>
<body>
	<!-- .app -->
	<div class="app">
		<!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->

		<div th:replace="fragments/app_header"></div>

		<div th:replace="fragments/sidebar"></div>

		<!-- .app-main -->
		<main class="app-main">
			<!-- .wrapper -->
			<div class="wrapper">
				<!-- .page -->
				<div class="page">
					<!-- .page-inner -->
					<div class="page-inner">
						<!-- .page-title-bar -->
						<header class="page-title-bar"> </header>
						<!-- /.page-title-bar -->

						<div class="page-section">

							<!-- .page-section -->

							<form th:action="@{/config/caliber/update}" th:object="${FORM}"
								method="post" id="chamber_reamer_form">

								<div class="card shadow col-md-8"
									style="margin: 20px 20px 20px 20px">
									<div class="card-header py-3">
										<span class="h6 m-0 font-weight-bold text-primary">CALIBER</span>
									</div>
									<div class="card-body">
										<!-- .table -->

										<a type="button" class="btn btn-secondary btn-sm"
											th:href="@{/config/caliber}"
											style="margin-bottom: 10px; width: 100px">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</a>
										<button type="submit" class="btn btn-primary btn-sm"
											style="margin-bottom: 10px; width: 100px">Save</button>


										<div th:if="${MESSAGE}" class="alert alert-primary has-icon"
											role="alert">
											<div class="alert-icon">
												<span class="oi oi-info"></span>
											</div>
											<span th:text="${MESSAGE}"></span>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6 mb-3">
												<!-- form column -->
												<label class="control-label" for="status_id">Status</label>
												<select name="status_id" th:field="*{status_id}"
													id="status_id" class="form-control form-control-sm"
													th:required="required">
													<option value="0">Not Active</option>
													<option value="1">Active</option>
												</select>
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_identifier">Caliber</label> <input
													type="text" class="form-control form-control-sm"
													id="caliber" th:field="*{caliber}" placeholder=""
													th:required="required">

											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="material">Description</label>
												<textarea class="form-control" th:field="*{description}"
													id="description" rows="3" maxlength="2000"></textarea>
											</div>
										</div>
										
										<span class="h6 m-0 font-weight-bold text-primary">GROOVE TOLERANCES</span>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Groove Nominal Diameter</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{grv_nominal}" id="grv_nominal"
													placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Groove Upper Tolerance</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{grv_utol}" id="grv_utol"
													placeholder="">
											</div>
										</div>
										
										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Groove Lower Tolerance</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{grv_ltol}" id="grv_ltol"
													placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Groove Target</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{grv_target}" id="grv_target"
													placeholder="">
											</div>
										</div>
										
										
										<span class="h6 m-0 font-weight-bold text-primary">BORE TOLERANCES</span>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Bore Nominal Diameter</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bor_nominal}" id="bor_nominal"
													placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Bore Upper Tolerance</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bor_utol}" id="bor_utol"
													placeholder="">
											</div>
										</div>
										
										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Bore Lower Tolerance</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bor_ltol}" id="bor_ltol"
													placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Bore Target</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bor_target}" id="bor_target"
													placeholder="">
											</div>
										</div>				
										
										

										<span class="h6 m-0 font-weight-bold text-primary">TOOL
											DIMENSIONS</span>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Bore Reamer Low</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bore_reamer_low}" id="bore_reamer_low"
													placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Bore Reamer High</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{bore_reamer_high}" id="bore_reamer_high"
													placeholder="">
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Button Low</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{button_low}" id="button_low" placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Button High</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{button_high}" id="button_high" placeholder="">
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="tool_range_low">Drill Low</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{drill_low}" id="drill_low" placeholder="">
											</div>


											<div class="form-group col-md-6">
												<label for="tool_range_high">Drill High</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{drill_high}" id="drill_high" placeholder="">
											</div>
										</div>



										<div th:if="*{id} != 0">
										
											<span class="h6 m-0 font-weight-bold text-primary">NOTE</span>

											<div class="form-row">
												<div class="form-group col-md-12">
													<textarea class="form-control" th:field="*{note}" id="note"
														rows="3" maxlength="1000"></textarea>
												</div>
											</div>
										</div>


									</div>


									<input type="hidden" name="id" th:field="*{id}" />

									<!--  Start file upload Section -->

									<p>
										<a type="button" class="btn btn-primary btn-sm"
											th:href="@{/manage-files?referring_module_id=5(module_record_id=*{id})}"
											style="margin-top: 0px;">&nbsp;&nbsp;Manage
											Files&nbsp;&nbsp;</a>
									<div th:if="*{id} != 0">


										<div class="card card-fluid" style="margin-top: 5px;">
											<div class="card-header">
												<span class="h6 m-0 font-weight-bold text-primary">FILE(S)</span>
											</div>
											<!-- /.card-header -->

											<div class="card-body">
												<!-- .table -->

												<table class="table table-hover table-sm table-bordered"
													id="file_results">
													<thead>
														<tr>
															<th>FILE NAME</th>
															<th>FILE SIZE</th>
															<th>UPLOADED BY</th>
															<th>UPLOADED</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="f: *{files}">
															<td><a
																th:href="@{/get-file(id=${f.file_storage_id})}"><span
																	th:text="${f.file_name}"></span></a></td>
															<td th:text="${f.file_size_str}" />
															<td th:text="${f.uploaded_by}" />
															<td th:text="${f.uploaded_str}" />
														</tr>
													</tbody>
												</table>


											</div>
											<!-- /.card-body -->
										</div>

									</div>
									<!-- End File Upload Section -->


									<div class="card card-fluid" style="margin-top: 25px;">
										<div class="card-header">
											<span class="h6 m-0 font-weight-bold text-primary">NOTES
												HISTORY</span>
										</div>
										<!-- /.card-header -->

										<div class="card-body">
											<!-- .table -->

											<table class="table table-hover table-sm table-bordered"
												id="results">
												<thead>
													<tr>
														<th>Created</th>
														<th>Created By</th>
														<th>Note</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="r: *{notes}">
														<td th:text="${r.created}" />
														<td th:text="${r.created_by}" />
														<td th:text="${r.note}" />
													</tr>
												</tbody>
											</table>


										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->

									<hr>

									<div class="form-group col-md-6" style="font-style: italic;">


										Created: <span th:text="*{created}"></span>,&nbsp;by&nbsp;<span
											th:text="*{created_by}"></span> <br>Updated: <span
											th:text="*{updated}"></span>,&nbsp;by&nbsp;<span
											th:text="*{updated_by}"></span>

									</div>


								</div>




							</form>




						</div>
					</div>
				</div>
				<!-- /.page-section -->
			</div>
			<!-- /.page-inner -->
		</main>
	</div>
	<!-- /.page -->

</body>


<div th:replace="fragments/footer"></div>


<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

<script
	th:src="@{/assets/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->


<script>
	$(document).ready(function() {

	});
</script>


</body>
</html>