<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<div th:replace="fragments/header"></div>

</head>

  <body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
    <!-- .auth -->
    
    <main class="auth">
      <header id="auth-header" class="auth-header" ><!--  style="background-image: url(assets/images/illustration/img-1.png);" --> 
        <h1>
        	workbench
          
        </h1>
        </p>
      </header><!-- form -->
      
      <form class="auth-form" method="POST" th:action="@{/login}" >
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="username" class="form-control" placeholder="username" name="username" autofocus="" value=""> <label for="username">Username</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="password" class="form-control" name="password" placeholder="password" value=""> <label for="password">Password</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group text-center">
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label" for="remember-me">Keep me sign in</label>
          </div>
        </div><!-- /.form-group -->
        <!-- recovery links -->
      </form><!-- /.auth-form -->
      <!-- copyright -->

    </main><!-- /.auth -->
    
    
    
    
    
 			<div th:replace="fragments/footer"></div>



</body>

	<!-- BEGIN BASE JS -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- END BASE JS -->
	<!-- BEGIN PLUGINS JS -->
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

	<!-- BEGIN THEME JS -->
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
	<!-- END THEME JS -->

	<!-- Page level plugins -->
	<script th:src="@{/assets/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/assets/vendor/datatables/dataTables.bootstrap4.min.js}"></script>



	<script>
    
	    $(document).ready(function() {
	        $('#results').DataTable();
	    } );
	    
    </script>