<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<div th:replace="fragments/header"></div>

</head>

  <body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
    <!-- .auth -->
    
    
    
	<div class="alert alert-primary" style="margin-top: 25px"
		role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" style="margin-top: 25px"
		role="alert" th:text="${error}" th:if="${error}"></div>
	<div class="alert alert-warning" style="margin-top: 25px"
		role="alert" th:text="${warning}" th:if="${warning}"></div>
  
    
    
    
    
    <main class="auth">
      <header id="auth-header" class="auth-header" ><!--  style="background-image: url(assets/images/illustration/img-1.png);" --> 
        <h1>
        	workbench
          
        </h1>
        </p>
      </header><!-- form -->
      
      <form class="auth-form" method="POST" th:action="@{/login}" >
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="username" class="form-control" placeholder="username" name="username" autofocus="" value=""> <label for="username">Username</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="password" class="form-control" name="password" placeholder="password" value=""> <label for="password">Password</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        
        <!-- recovery links -->
      </form><!-- /.auth-form -->
      <!-- copyright -->



	<form class="auth-form" method="POST" th:action="@{/login}" >
        <!-- .form-group -->
        
            <input type="hidden" id="username" name="username" value="GUEST">
            <input type="hidden" id="password" name="password" value="7&^hG0816_hElP@z">        <!-- .form-group -->
            
        <div class="form-group">
          <button class="btn btn-lg btn-warning btn-block" type="submit">Sign In as Guest</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        
        <!-- recovery links -->
      </form><!-- /.auth-form -->
      <!-- copyright -->


    </main><!-- /.auth -->
    
    
    
    
    
 			<div th:replace="fragments/footer"></div>



</body>

	<!-- BEGIN BASE JS -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- END BASE JS -->
	<!-- BEGIN PLUGINS JS -->
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

	<!-- BEGIN THEME JS -->
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
	<!-- END THEME JS -->

	<!-- Page level plugins -->
	<script th:src="@{/assets/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/assets/vendor/datatables/dataTables.bootstrap4.min.js}"></script>



	<script>
    
	    $(document).ready(function() {
	        $('#results').DataTable();
	    } );
	    
    </script>