<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="fragments/header"></div>



</head>
<body>
	<!-- .app -->
	<div class="app">
		<!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->

		<div th:replace="fragments/app_header"></div>

		<div th:replace="fragments/sidebar"></div>

		<!-- .app-main -->
		<main class="app-main">
			<!-- .wrapper -->
			<div class="wrapper">
				<!-- .page -->
				<div class="page">
					<!-- .page-inner -->
					<div class="page-inner">
						<!-- .page-title-bar -->
						<header class="page-title-bar"> </header>
						<!-- /.page-title-bar -->

						<div class="page-section">

							<!-- .page-section -->




							<form th:action="@{/tool/bn/update}" th:object="${FORM}"
								method="post" id="chamber_reamer_form">

								<div class="card shadow col-md-8"
									style="margin: 20px 20px 20px 20px">
									<div class="card-header py-3">
										<span class="h6 m-0 font-weight-bold text-primary">BUTTON</span>
									</div>
									<div class="card-body">
										<!-- .table -->

										<a type="button" class="btn btn-secondary btn-sm"
											th:href="@{/tool/bn}"
											style="margin-bottom: 10px; width: 100px">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</a>
											
									<span sec:authorize="hasAnyAuthority('ADMIN', 'POWER_USER')">			
										<button type="submit" class="btn btn-primary btn-sm"
											style="margin-bottom: 10px; width: 100px">Save</button>
									</span>



										<div th:if="${MESSAGE}" class="alert alert-primary has-icon"
											role="alert">
											<div class="alert-icon">
												<span class="oi oi-info"></span>
											</div>
											<span th:text="${MESSAGE}"></span>
										</div>




										<div class="form-row">
											<div class="col-md-6 mb-3">
												<!-- form column -->
												<label class="control-label" for="status_id">Status</label>
												<select name="status_id" th:field="*{status_id}"
													id="status_id" class="form-control form-control-sm"
													th:required="required">
													<option value=1>Active</option>
													<option value=0>Not Active</option>
												</select>
											</div>


											<div class="form-group col-md-6">
												<label for="tool_identifier">Tool Identifier</label> <input
													type="text" class="form-control form-control-sm"
													id="tool_identifier" th:field="*{tool_identifier}"
													placeholder="" readonly>

											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="drawing_number">Drawing Number</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{drawing_number}" id="drawing_number"
													placeholder="">

											</div>

											<div class="form-group col-md-6">
												<label for="storage_location">Storage Location</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{storage_location}" id="storage_location"
													placeholder="">
											</div>
										</div>



										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="major_dia">Major Diameter</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{major_dia}" id="major_dia" placeholder="">
												<small class="text-muted">Must be in #.##### format.</small>
											</div>

											<div class="form-group col-md-6">
												<label for="minor_dia">Minor Diameter</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{minor_dia}" id="minor_dia" placeholder="">
												<small class="text-muted">Must be in #.##### format.</small>
											</div>
										</div>



										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="rifling_type">Rifling Type</label> <select
													name="rifling_type" th:field="*{rifling_type}"
													id="rifling_type" class="form-control form-control-sm">
													<option value="standard">standard</option>
													<option value="5R">5R</option>
													<option value="ratchet">ratchet</option>
													<option value="octagon">octagon</option>
												</select>
											</div>



											<div class="form-group col-md-6">
												<label for="rifling_width">Rifling width</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{rifling_width}" id="rifling_width"
													placeholder=""> <small class="text-muted">Must
													be in #.##### format.</small>
											</div>
										</div>



										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="shaft_size">Shaft size</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{shaft_size}" id="shaft_size" placeholder="">
													<small class="text-muted">Must be in #.##### format.</small>
											</div>

											<div class="form-group col-md-6">
												<label for="button_shank_size">Button shank size</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{button_shank_size}" id="button_shank_size"
													placeholder=""> <small class="text-muted">Must
													be in #.##### format.</small>
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="rifling_count">Rifling count</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{rifling_count}" id="rifling_count"
													placeholder="">
											</div>

											<div class="form-group col-md-6"></div>
										</div>




										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="manufacturer">Manufacturer</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{manufacturer}" id="manufacturer" placeholder="">

											</div>

											<div class="form-group col-md-6">
												<label for="mfg_print_id">Mfg Print Id</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{mfg_print_id}" id="mfg_print_id" placeholder="">

											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="material">Material</label> <input type="text"
													class="form-control form-control-sm" th:field="*{material}"
													id="material" placeholder="">

											</div>

											<div class="form-group col-md-6">
												<label for="mfg_serial_number">Mfg Serial Number</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{mfg_serial_number}" id="mfg_serial_number"
													placeholder="">
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="dom_str">Date of Mfg</label> <input type="text"
													class="form-control form-control-sm" th:field="*{dom_str}"
													id="dom_str" placeholder="" data-toggle="flatpickr"
													th:required="required">

											</div>

											<div class="form-group col-md-6"></div>
										</div>



										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="dos_str">Date of Service</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{dos_str}" id="dos_str" placeholder=""
													data-toggle="flatpickr">

											</div>


										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="eos_str">End of Service</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{eos_str}" id="eos_str" placeholder=""
													data-toggle="flatpickr">

											</div>

											<div class="form-group col-md-6"></div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="eos_reason">End of Service Reason</label> <input
													type="text" class="form-control form-control-sm"
													th:field="*{eos_reason}" id="eos_reason" placeholder="">
											</div>

											<div class="form-group col-md-6"></div>
										</div>

										<div th:if="*{id} != 0">

											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="note">Notes</label>
													<textarea class="form-control" th:field="*{note}" id="note"
														rows="3" maxlength="1000"></textarea>
												</div>
											</div>
										</div>


									</div>


									<input type="hidden" name="id" th:field="*{id}" />



											
									<div th:if="*{id} != 0">
									
									<span sec:authorize="hasAnyAuthority('ADMIN', 'POWER_USER')">	
																		<p>
										<a type="button" class="btn btn-primary btn-sm"
											th:href="@{/manage-files?referring_module_id=3(module_record_id=*{id})}"
											style="margin-top: 0px;">&nbsp;&nbsp;Manage
											Files&nbsp;&nbsp;</a>
											
									</span>


										<div class="card card-fluid" style="margin-top: 5px;">
											<div class="card-header">
												<span class="h6 m-0 font-weight-bold text-primary">FILE(S)</span>
											</div>
											<!-- /.card-header -->
											<div class="card-body">
												<!-- .table -->

												<table class="table table-hover table-sm table-bordered"
													id="file_results">
													<thead>
														<tr>
															<th>FILE NAME</th>
															<th>FILE SIZE</th>
															<th>UPLOADED BY</th>
															<th>UPLOADED</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="f: *{files}">
															<td><a
																th:href="@{/get-file(id=${f.file_storage_id})}"><span
																	th:text="${f.file_name}"></span></a></td>
															<td th:text="${f.file_size_str}" />
															<td th:text="${f.uploaded_by}" />
															<td th:text="${f.uploaded_str}" />
														</tr>
													</tbody>
												</table>


											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->


										<div class="card card-fluid" style="margin-top: 25px;">
											<div class="card-header">
												<span class="h6 m-0 font-weight-bold text-primary">NOTES
													HISTORY</span>
											</div>
											<!-- /.card-header -->

											<div class="card-body">
												<!-- .table -->

												<table class="table table-hover table-sm table-bordered"
													id="results">
													<thead>
														<tr>
															<th>Created</th>
															<th>Created By</th>
															<th>Note</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="r: *{notes}">
															<td th:text="${r.created}" />
															<td th:text="${r.created_by}" />
															<td th:text="${r.note}" />
														</tr>
													</tbody>
												</table>


											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->

										<div class="form-group col-md-6" style="font-style: italic;">


											Created: <span th:text="*{created}"></span>,&nbsp;by&nbsp;<span
												th:text="*{created_by}"></span> <br>Updated: <span
												th:text="*{updated}"></span>,&nbsp;by&nbsp;<span
												th:text="*{updated_by}"></span>

										</div>

									</div>
								</div>



							</form>




						</div>
					</div>
				</div>
				<!-- /.page-section -->
			</div>
			<!-- /.page-inner -->
		</main>
	</div>
	<!-- /.page -->

</body>


<div th:replace="fragments/footer"></div>


<!-- BEGIN BASE JS -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

<script
	th:src="@{/assets/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>

<!-- BEGIN THEME JS -->
<script th:src="@{/assets/javascript/theme.min.js}"></script>
<!-- END THEME JS -->


<script>
	$(document).ready(function() {

	});
</script>


</body>
</html>