<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{fragments/header}"></div>

<style>
	.cycle-checkbox-cell {
		text-align: center;
		vertical-align: middle;
		width: 6rem;
	}
	.cycle-checkbox {
		height: 1.1rem;
		width: 1.1rem;
		margin: 0;
	}
</style>



</head>
<body>
	<!-- .app -->
	<div class="app">
		<!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->


		<div th:replace="~{fragments/app_header}"></div>

		<div th:replace="~{fragments/sidebar}"></div>

		<!-- .app-main -->
		<main class="app-main">
			<!-- .wrapper -->
			<div class="wrapper">
				<!-- .page -->
				<div class="page">
					<!-- .page-inner -->
					<div class="page-inner">
						<!-- .page-title-bar -->
						<header class="page-title-bar"> </header>
						<!-- /.page-title-bar -->

						<div class="page-section">

							<!-- .page-section -->


							<div class="card shadow col-md-8" style="margin: 20px 20px 20px 20px">
								<div class="card-header py-3">
									<span class="h6 m-0 font-weight-bold text-primary">CYCLE</span>
								</div>
								<div class="card-body">

										<form th:action="${EDIT_MODE} ? @{/ss/cycle/maintain} : @{/ss/cycle/insert}" th:object="${FORM}" method="post" id="cycleform">
											<div th:if="${CYCLE_ERROR}" class="alert alert-danger" th:text="${CYCLE_ERROR}"></div>
											<div th:if="${CYCLE_SUCCESS}" class="alert alert-success" th:text="${CYCLE_SUCCESS}"></div>
											<input type="hidden" th:field="*{cycle_id}" />
											<input type="hidden" th:field="*{poll_frequency}" />
											<div class="form-group">
												<label for="equipment_id">Equipment</label> 
												<select th:if="${!EDIT_MODE}" class="form-control form-control-sm" id="equipment_id" name="equipment_id"
													th:data-selected="*{equipment_id}">
												</select>
												<input th:if="${EDIT_MODE}" type="text" class="form-control form-control-sm"
													th:value="*{equipment_name}" readonly />
												<input th:if="${EDIT_MODE}" type="hidden" th:field="*{equipment_id}" />
											</div>
										<div class="form-group">
											<label for="profile">Profile</label> 
											<select class="form-control form-control-sm" id="profile" th:field="*{profile}">
												<option value="">-- Select Profile --</option>
												<option th:each="p : ${PROFILES}" th:value="${p.name}" th:text="${p.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="number_of_barrels">Number of barrels</label> 
											<input type="text" th:field="*{number_of_barrels}" class="form-control form-control-sm" />
										</div>



									<table class="table table-sm ">
										<thead>
											<tr>
												<th>Enabled</th>
												<th>Severity</th>
												<th>Notification</th>
												<th>Threshold</th>
											</tr>
										</thead>
										<tbody id="notification_tbody">
											<tr th:each="a, itemStat: *{alerts}">
												
												<td class="cycle-checkbox-cell"><input type="hidden" th:field="*{alerts[__${itemStat.index}__].type}"/>
													<input type="hidden" th:field="*{alerts[__${itemStat.index}__].selected}" class="alert-selected-hidden"/>
													<input type="checkbox" class="cycle-checkbox alert-selected-toggle" th:checked="${a.selected == 2}"/>
												</td>
												<td><select class="form-control form-control-sm" th:field="*{alerts[__${itemStat.index}__].notification_type}">
														<option value="E">Error</option>
														<option value="W">Warning</option>
														<option value="I">Information</option>													
													</select>
												</td>
												<td><span th:text="*{alerts[__${itemStat.index}__].description}"></span></td>
												<td><input type="text" class="form-control form-control-sm" th:field="*{alerts[__${itemStat.index}__].value}"/></td>
											</tr>
										</tbody>
									</table>



								<table class="table table-sm ">
										<thead>
											<tr>
												<th>Enabled</th>
												<th>Recipient</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="u, itemStat: *{users}">
												
												<td class="cycle-checkbox-cell">
													<input type="hidden" th:field="*{users[__${itemStat.index}__].id}" />
													<input type="hidden" th:field="*{users[__${itemStat.index}__].sms_email}" />
													<input type="hidden" th:field="*{users[__${itemStat.index}__].first_name}" />
													<input type="hidden" th:field="*{users[__${itemStat.index}__].last_name}" />
													<input type="hidden" th:field="*{users[__${itemStat.index}__].checked}" class="user-checked-hidden"/>
													<input type="checkbox" class="cycle-checkbox user-checked-toggle" th:checked="${u.checked == 1}"/>
												</td>
												<td><span th:text="*{users[__${itemStat.index}__].full_name}"></span></td>
											</tr>
										</tbody>
									</table>
									
									
										<button type="submit" class="btn btn-primary" th:text="${EDIT_MODE} ? 'Update' : 'Save'">Save</button>
										<a th:href="@{/ss/home}" class="btn btn-light ml-2">Cancel</a>


									</form>


								</div>
							</div>


						</div>
						<!-- /.page-section -->
					</div>
					<!-- /.page-inner -->
				</div>
				<!-- /.page -->
			</div>

			<div th:replace="~{fragments/footer}"></div>


			<!-- /.wrapper -->
		</main>
		<!-- /.app-main -->
	</div>
	<!-- /.app -->


	<!-- BEGIN BASE JS -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- END BASE JS -->
	<!-- BEGIN PLUGINS JS -->
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script
		th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

	<!-- BEGIN THEME JS -->
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
	<!-- END THEME JS -->
	
	<script>
	
	 $(document).ready(function() {
	
			if ($('#equipment_id').length) {
				$.getJSON('/lkup/equipment/json',
					function(data) {
						$('#equipment_id').empty();
						$.each(data, function(i, obj) {
							$('#equipment_id').append($('<option>').text(obj.value).attr('value', obj.id));
						});
						var selectedEquipment = $('#equipment_id').data('selected');
						if (selectedEquipment !== undefined && selectedEquipment !== null && selectedEquipment !== '' && Number(selectedEquipment) > 0) {
							$('#equipment_id').val(String(selectedEquipment));
						}
					});
			}

			function syncCycleMaintenanceFields() {
			$('.alert-selected-toggle').each(function(index) {
				$('.alert-selected-hidden').eq(index).val(this.checked ? '2' : '1');
			});
			$('.user-checked-toggle').each(function(index) {
				$('.user-checked-hidden').eq(index).val(this.checked ? '1' : '0');
			});
		}

		syncCycleMaintenanceFields();

		$('#cycleform').on('submit', function() {
			syncCycleMaintenanceFields();
		});
		
	
	 });


	</script>


</body>
</html>
