<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="fragments/header"></div>




</head>
<body>
	<!-- .app -->
	<div class="app">
		<!--[if lt IE 10]>
      <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
      <![endif]-->


		<div th:replace="fragments/app_header"></div>

		<div th:replace="fragments/sidebar"></div>

		<!-- .app-main -->
		<main class="app-main">
			<!-- .wrapper -->
			<div class="wrapper">
				<!-- .page -->
				<div class="page">
					<!-- .page-inner -->
					<div class="page-inner">
						<!-- .page-title-bar -->
						<header class="page-title-bar"> </header>
						<!-- /.page-title-bar -->

						<div class="page-section">

							<!-- .page-section -->

						     <div class="card shadow mb-4">
						          <div class="card-header py-3">
						             <span class="h6 m-0 font-weight-bold text-primary">EQUIPMENT&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:newObj()" role="button" class="btn btn-sm btn-icon btn-secondary" ><i class="fas fa-plus"></i></a></span>  	
						          </div>
						         <div class="card-body">
								      <table class="table table-hover table-sm" id="results" style="width: 100%">
								    	<thead>
								    		<tr>
								    			<th></th>
								    			<th>EQUIPMENT</th>
								    			<th>DESCRIPTION</th>
								    			<th>Poll Controller</th>
								    		</tr>
								    	</thead>
								    	<tbody>
								    	
								    	
								    	</tbody>
						
								    </table>
							    </div>
							</div>
							
							
							
							<!--  ************************ Body Content End / Start Modals *************************************************** -->
		

			<!-- Form Modal-->
			<div class="modal fade" id="formModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Table Maintenance</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<input type="hidden" id="form-equipment_id" name="equipment_id"/>
								<div class="form-group">
									<label for="name">Name</label> 
									<input type="text"
										class="form-control form-control-sm" id="form-name"
										placeholder="equipment name..." name="name">
								</div>
								<div class="form-group">
									<label for="description">Description</label>
									<textarea class="form-control form-control-sm"
										id="form-description" rows="3" placeholder="description..." name="description"></textarea>
								</div>
								<div class="form-group">
									<label for="description">Poll Controller</label>
									<select class="form-control form-control-sm"
										id="form-data_collection" name="form-data_description">
										<option value="N">No</option>
										<option value="Y">Yes</option>
									</select>
								</div>
								<div class="form-group">
									<label for="name">MAC Address</label> 
									<input type="text"
										class="form-control form-control-sm" id="form-mac_address"
										placeholder="mac_address..." name="mac_address">
								</div>	
								<div class="form-group">
									<label for="description">Active</label>
									<select class="form-control form-control-sm"
										id="form-active" name="active">
										<option value="N">No</option>
										<option value="Y">Yes</option>
									</select>
								</div>							
								
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			
				<!-- DEL Confirmation Modal -->
				<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Do you want to delete this object?
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
				        	<a href="javascript:deleteID()" role="button" class="btn btn-danger">YES</a>
				      </div>
				    </div>
				  </div>
				</div>


					<!-- ****************  End Modals ******************* -->
		
							
							
							

						</div>
						<!-- /.page-section -->
					</div>
					<!-- /.page-inner -->
				</div>
				<!-- /.page -->
			</div>

			<div th:replace="fragments/footer"></div>


			<!-- /.wrapper -->
		</main>
		<!-- /.app-main -->
	</div>
	<!-- /.app -->
	
	
	
	

                      


	<!-- BEGIN BASE JS -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- END BASE JS -->
	<!-- BEGIN PLUGINS JS -->
	<script th:src="@{/assets/vendor/pace/pace.min.js}"></script>
	<script th:src="@{/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
	<script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/vendor/flatpickr/flatpickr.min.js}"></script>

	<!-- BEGIN THEME JS -->
	<script th:src="@{/assets/javascript/theme.min.js}"></script>
	<!-- END THEME JS -->

	<!-- Page level plugins -->
	<script th:src="@{/assets/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/assets/vendor/datatables/dataTables.bootstrap4.min.js}"></script>



	<script>
    
	var table;
	  
    $(document).ready(function() {
        table = $('#results').DataTable( {
        	"ajax": { 
        		"url" : "/workbench/ss/equipment/json",
        		"dataSrc" : ""
            },
        	 "columns" : [
        		 { "data" : "equipment_id",
        			 render : function ( data, type, full, meta) {
        				 return "<a href='javascript:fetchID(\"" + data + "\")' role=\"button\" class=\"btn btn-sm btn-icon btn-secondary\"'><i class='far fa-edit'></i></a>"; 
        			 }},
        		 { "data" : "name",
        			  render : function ( data, type, full, meta) {
        				  return data + "&nbsp;" + ( full.active == "N" ? "<span class='small-tag'>INACTIVE</span>" : "")
        			  }},
        		 { "data" : "description" },
        		 { "data" : "data_collection" },
        		 
        	 ]
        });
    } );
	    
    
	function fetchID(id) {

		$.getJSON('/workbench/ss/equipment/json/' + id,
				function(data) {

					$('#form-name').val(data.name);
					$('#form-equipment_id').val(data.equipment_id);
					$('#form-description').val(data.description);
					$('#form-mac_address').val(data.mac_address);
					$('#form-data_collection').val(data.data_collection);
					$('#form-active').val(data.active);
					

				})

	  

		$('#formModal').modal('show');


	}
	
	function newObj() {
		
		// Clear out some form vars
		$('#form-name').val("");
		$('#form-equipment_id').val("-1");
		$('#form-description').val("");
		$('#form-mac_address').val("");
		$('#form-data_collection').val("N");
		$('#form-active').val("Y");
		
		$('#formModal').modal('show');
		
		
	}

	
	$(function() {
		$('form').bind('submit', function(event) {

			event.preventDefault();// using this page stop being refreshing 

			$.ajax({
				type : 'POST',
				url : '/workbench/ss/equipment/update',
				data : $('form').serialize(),
				success : function(data) {

					// Clear out form vars
					$('#form-name').val("");
					$('#form-equipment_id').val("-1");
					$('#form-description').val("");
					$('#form-mac_address').val("");
					$('#form-data_collection').val("");
					$('#form-active').val("");

					$('#formModal').modal('hide');

					table.ajax.reload();

				},
				error: function(xhr, ajaxOptions, thrownError) {
	                  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	            }
			});

		});
	});
	
    
    </script>


</body>
</html>